body {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background-color: #fff;
    margin: 0;

}

section {
    padding: 1em;

}

header {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background-color: #F2F2F2;
    padding-bottom: 3em;
    padding-top: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin: 0;
}

ul {
    padding: 0;
}

h1 {
    color: #20a8b4;
}

h1 .special-color {
    color: #ff5c0f
}

h3 .special-color {
    color: #ff5c0f
}

img {
    margin: right;
    width: 80%;
}

.bootcamps:hover {
    color: #ff5c0f
}

.workshops:hover {
    color: #ff5c0f
}

.custom.training:hover {
    color: #ff5c0f
}

.student.stories:hover {
    color: #ff5c0f
}

button {
    color: #fff;
    background-color: #20a8b4;
    border-radius: 5px;
    border-color: #20a8b4;
    padding-top: .5em;
    padding-bottom: .5em;
    border-style: solid;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    float: left;

}

button:hover {
    background-color: #ff5c0f;
    border-color: #ff5c0f;
}

.image {
    display: none;
    text-align: right;
}

section.bottom-container {
    padding-top: 5em;

}

@media screen and (min-width: 768px) {
    .image {
        display: block;

    }

    button {
        width: auto;
        height: 2em;
        padding-right: auto;
        align-items: center;
        text-align: center;
    }

    section.bottom-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-top: 15em;



    }

    section.bottom-container a {
        align-items: center;
        width: 100%;
    }

    section.bottom-container div {
        align-items: left;
        width: 75%;
    }

    section.bottom-container div button {
        width: 25%
    }

    header button {
        margin-top: 2em;

    }

    header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: auto;
    }



    header div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 200px;
        width: auto;
        height: auto;
        flex-direction: row;
    }

    .top-headers {
        display: flex;
        justify-content: space-between;
        align-items: right;
        min-width: 200px;
        width: 110%;
        height: auto;
        flex-direction: row;


    }




}